<div class="form">
    <form action="/users/myprofile" method="get" class="formulario"></form>	
    <div class="campos">
        <label for="" class="correo">Email:</label>
        <input type="email" name="mail" value="">
        <label for="" class="pass">Contraseña:</label>
        <input type="contraseña" name="password" value="">
        <label for="" class="recuerdo">Recuerdame</label>
        <input type="checkbox" name="remember" value="">
    </div>
    <button type="submit">Iniciar sesión</button>
</form>
</div>