<%- include('./partials/head.ejs') %>	

<body>
	<!-- Header -->
	<%- include('./partials/headernoLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="form">
					<form action="/profileprofile" method="get" class="formulario"></form>	
					<section class="form-registro">
						<h4> Ingresar</h4>
						<input type="email" name="mail" value="" class="control" placeholder="email">
						<input type="contraseña" name="password" value="" class="control" placeholder="contraseña">
						<p>Recuerdame <input type="checkbox" name="remember" value="" class="checkbox"> </p> 
						<button class="boton" type="submit" class="boton">Iniciar sesión</button>

					</section>
				</form>
			</div>




	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>