<%- include('./partials/head.ejs') %>

	<body>
		<!-- Header -->

		<%- include('./partials/headernoLogueado.ejs') %>
			<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">

					<!-- Show the "ultimos" products -->

					<% if (locals.errors) { %>
						<p class="error">
							<%= errors.message %>
						</p>
						<%} %>
							<div class="form-registro">
								<form action="/users/login" method="post" class="formulario">
									<h4 class="products-title"> Ingresar</h4>
									<input type="email" name="mail" value="" class="control" placeholder="email">
									<input type="contraseña" name="password" value="" class="control"
										placeholder="contraseña">
									<p>Recordame <input type="checkbox" name="remember" class="checkbox"> </p>
									<button class="boton" type="submit">Iniciar sesión</button>
								</form>
							</div>




							<!-- footer -->
							<%- include('./partials/footer.ejs') %>
								<!-- /footer -->
	</body>

	</html>