<%- include('./partials/head.ejs') %>	

<body>
	<!-- Header -->
	<%- include('./partials/headernoLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="form">
					<form action="/users/myprofile" method="get" class="formulario"></form>	
					<div class="campos">
						<label for="" class="correo">Email:</label>
						<input type="email" name="mail" value="">
						<label for="" class="pass">Contraseña:</label>
						<input type="contraseña" name="password" value="">
						<label for="" class="recuerdo">Recuerdame</label>
						<input type="checkbox" name="remember" value="">
					</div>
					<button type="submit">Iniciar sesión</button>
				</form>
			</div>




	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>