<%- include('./partials/head.ejs') %>	

<body>
	<!-- Header -->
	<%- include('./partials/headernoLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<!-- Show the "ultimos" products -->
			<!-- ACA EL FORMULARIO!! -->
			
		<form action='/users/myprofile' class="form-registro">
			<h4> Registrate </h4>
			<input type="email" name="mail" value="" class="control" placeholder="Ingrese email">
			<input type="text" name="usuario" value="" class="control" placeholder="Nombre de usuario">
			<input type="contraseña" name="password" value="" class="control" placeholder="Ingrese contraseña">
			<input type="date" name="fecha" value="" class="control" placeholder="Ingrese fecha de nacimiento">
			<input type="number" name="documento" value="" class="control" placeholder="Ingrese DNI">
			<input type="text" name="pic" value="" class="control" placeholder="Ingrese foto de perfil">
			<input type="submit" value="Finalizar registro" class="boton">
		</form>
		</div>

	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>